body {
    background-image: url("../../images/bgnoise_lg/bgnoise_lg.png");
    /*background-image: url("./images/retina_wood/retina_wood.png");*/
}

/* iPad-specific instructions 
@media only screen 
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)

*/

    /* please help me change style here, I don't have an iPad */



.all-content 
{
    height: 100%
}

.athlete-name
{
    text-align: center;
    font-size: 100%;
    margin-top: 5%;
    width:90%;
    

}

.dropdown
{
    padding-top: 15%;
}

.dropdown-toggle 
{   
    overflow: hidden;
    text-align: center;
    width: 90%;
    font-size: 110%;
}
.dropdown-menu
{
    width: 90%;
    padding-left: 14%;
    font-size: 130%;
}

.stopwatch
{
    background:#CCCCDD;
    border: 1px solid #999999;

}

.stopwatch .btn
{
    text-align: center;
    font-size: 128%;
}

.sportpoom
{
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    /*color: #FFD700;
    text-shadow: -1px 0px 5px #00008F,
                0px -1px 5px #00008F,
                1px 0px 5px #00008F,
                0px 1px 5px #00008F,
                -1px -1px 5px #00008F,
                1px 1px 5px #00008F;*/
    color: #00008F;
    text-shadow: 0px 0px 2px #E5C100;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
}

/*.sportpoom .container-fluid
{   
    background: radial-gradient(#FFFFEE, #CCFFFF);
}*/

.sportpoom .mistakebutton
{
    width: 50%;
    height: 10%;
    font-size: 100%;
    padding: 5;
    border-radius: 5%;
}

.sportpoom .mistakebutton
{
    width: 90%;
    height: 90%;
    font-size: 200%;
    padding: 10;
    border-radius: 5%;
}

.sportpoom .scoringstuff div:first-child
{
    padding-right: 10;
}

.sportpoom .scoringstuff div:last-child
{
    padding-left: 10;
}

.sportpoom .btn-radio
{
    background: #CCCCDD;
    border: 1px solid #999999;
    font-size: 100%;
}

.sportpoom .toprow label
{
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
}


.sportpoom .botrow label
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top: none;
    border-bottom: none;
}

.sportpoom .pressiestuff .option3 .active
{
    background: #999999;
}

.sportpoom .pressiestuff .option3 .pwrspd h2
{
    margin-top: 0;
}

.sportpoom .undobutton
{
    font-size: 110%;
    background: #FF8888;
    margin-top: 0px;
    padding: 15px;
}

.sportpoom .option6 .formtitle
{
    font-size: 250%;
}

.sportpoom .option6
{
    padding-top: 2em;
    padding-bottom: 2em;
}

.sportpoom .option6 .pleft
{
    text-align: right;
}


.sportpoom .option6 .pright
{
    text-align: left;
}

.sportpoom .option6 select
{
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .3em;
    margin-bottom: .3em;

.sportpoom .option6 .pright
{
    float: left;
}

}

.sportpoom .scorescreen
{
    width: 98%;
    height: 92%;
    padding: 0;
}

.sportpoom .scorebody
{
    height: 99%;
}

.sportpoom #finalscore
{
    font-size: 3000%;
}

.sportpoom .scoringstuff
{
    display: table;
}

.sportpoom .scoringstuff .deductButton, .sportpoom .scoringstuff .pressiestuff
{   
    height: 100%;
    float: none;
    display: table-cell;
    vertical-align: top;
}

.sportpoom .undobutton
{
    width: 90%;
}

.sportpoom .miscounts div h2
{
    margin-top: 0;
    padding-top: 0;
}

.sportpoom .scorebox
{
    background: #00003F;
    color: #FFD700;
}

.sportpoom #scoresubmit
{
    margin-top: 15px;
    width: 90%;
    font-size: 220%;
}

.sportpoom .cpyrght
{
    font-size: 50%;
    text-shadow: none;
    color: black;
    padding-top: 7px;
}

.sportpoom .poorpressie
{
    color: #FF0000;
}

.sportpoom .fairpressie
{
    color: #FF7700;
}

.sportpoom .goodpressie
{
    color: #FFFF00;
}

.sportpoom .verygoodpressie
{
    color: #006400;
}

.sportpoom .excellentpressie
{
    color: #339900;
}

.sportpoom .perfectpressie
{
    color: #77FF00;
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
      
    .all-content {
    height: 100%
    }

    .athlete-name {
    text-align: center;
    font-size: 100%;
    margin-top: 5%;
    width:90%;
    }

    .dropdown {
    padding-top: 15%;
    }

    .dropdown-toggle {   
    overflow: hidden;
    text-align: center;
    width: 90%;
    font-size: 110%;
    }
    .dropdown-menu {
    width: 90%;
    padding-left: 14%;
    font-size: 130%;
    }

    .stopwatch {
    background:#CCCCDD;
    border: 1px solid #999999;
    }

    .stopwatch .btn {
    text-align: center;
    font-size: 128%;
    }
    
    .sportpoom {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    /*color: #FFD700;
    text-shadow: -1px 0px 5px #00008F,
                0px -1px 5px #00008F,
                1px 0px 5px #00008F,
                0px 1px 5px #00008F,
                -1px -1px 5px #00008F,
                1px 1px 5px #00008F;*/
    color: #00008F;
    text-shadow: 0px 0px 2px #E5C100;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    }

/*.sportpoom .container-fluid
{   
    background: radial-gradient(#FFFFEE, #CCFFFF);
}*/

    .sportpoom .mistakebutton {
    width: 50%;
    height: 10%;
    font-size: 100%;
    padding: 5;
    border-radius: 5%;
    }

    .sportpoom .mistakebutton {
    width: 90%;
    height: 90%;
    font-size: 200%;
    padding: 10;
    border-radius: 5%;
    }

    .sportpoom .scoringstuff div:first-child {
    padding-right: 10;
    }

    .sportpoom .scoringstuff div:last-child
    {
    padding-left: 10;
    }

    .sportpoom .btn-radio
    {
    background: #CCCCDD;
    border: 1px solid #999999;
    font-size: 100%;
    }

    .sportpoom .toprow label
    {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
    }


    .sportpoom .botrow label
    {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top: none;
    border-bottom: none;
    }

    .sportpoom .pressiestuff .option3 .active
    {
    background: #999999;
    }

    .sportpoom .pressiestuff .option3 .pwrspd h2
    {
    margin-top: 0;
    }
    
    .sportpoom .undobutton
    {
    font-size: 110%;
    background: #FF8888;
    margin-top: 0px;
    padding: 15px;
    }
  }
